{% extends "base.html" %}

{% block title %}Meal You{% endblock %}



{% block page_content %}
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>{{ session['username'] }} owner, welcome to Meal You!</h1>
        <h2>
          <a href="{{ url_for('logout') }}">Logout</a>
        </h2>
        <h2>
          <a href="{{ url_for('index') }}">Meals home</a>
        </h2>
        <h1>Hello, {% if session %}{{ session['rest_username'] }}{% else %}Stranger{% endif %}</h1>
        <form method="POST" action="{{ url_for('add_to_bag') }}">
          <h2 class="form-signin-heading">Restaurant owner, please add meal</h2>
          <div class="form-group">
            <label for="storetitle">Store Title</label>
            <input type="text" class="form-control" name="storetitle" placeholder="Storetitle"
                   value={{ storetitle }} readonly>
          </div>
          <div class="form-group">
            <label for="mealtitle">Meal Title</label>
            <input type="text" class="form-control" name="mealtitle" placeholder="Mealtitle"
                   value={{ mealtitle }} readonly>
          </div>
          <div class="form-group">
            <label for="mealname">Meal Name</label>
            <input type="text" class="form-control" name="mealname" placeholder="Mealname"
                   value={{ meal['name'] }} readonly>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" name="price" placeholder="Price" value={{ meal['price'] }} readonly>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <select name="quantity" class="col-xs-12">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
          </div>
          <br>
          <button type="submit" class="btn btn-primary btn-block">Add to bag</button>
        </form>
        <hr>
        <hr>
        <h2>
        </h2>
        <hr>
        <hr>
      </div>
    </div>
  </div>
{% endblock %}






